<h1>Here is a display of a given user</h1>
<div class="user-details">
    <div class="user-container">
        <div class="user-img black-border">
            <%= image_tag("avatar.png") %>
        </div>
        <div class="user-overview black-border">
            <h2><%= @user.name %></h2>
            <span>Number of posts: <%= @user.posts_counter || 0 %></span>
        </div>
    </div>
    <div class="user-bio black-border">
        <span>Bio</span>
        <p><%= @user.bio %></p>
    </div>
    <% @user.load_recent_three_posts.each do |post| %>
        <div class="post-overview black-border">
            <a href="/users/<%= @user.id %>/posts/<%= post.id %>"><h3><%= post.title %></h3></a>
            <p><%= post.text %></p>
            <span>Comments: <%= post.comments_counter || 0 %>, Likes: <%= post.likes_counter || 0 %></span>
        </div>
    <% end %>
    <div class="button-wrapper">
        <%= link_to "See all posts", user_posts_path(@user), {:class => "black-border"} %>
    </div>
</div>